
@model List<ResumeGetDto>
@{
    var premiumItems = Model.Where(item => item.IsPremium).ToList();
    var nonPremiumItems = Model.Where(item => !item.IsPremium).ToList();
    bool checkSort = false;
    if (ViewBag.Dto != null)
    {
        checkSort = ViewBag.Dto.IsSort;
    }
}
<input type="text" value="@Model.Count" id="ResumeCount" hidden/>
@foreach (var item in checkSort ? Model : premiumItems.Concat(nonPremiumItems))
{
    <div class="resume">
        <a asp-action="Detail" asp-route-id="@item.Id" target="_blank">
            <div class="resume_header">
                <div class="info">
                    <div class="resume_header_img">
                        <img loading="lazy" src="~/assets/images/resumes/@item.Image" alt="" class="">
                    </div>
                    <div class="resume_header_desc">
                        <h3>@item.Category.Name</h3>
                        <p>@item.Name  @item.Surname </p>
                    </div>
                </div>
                <span class="resume__icon mr-0 course_like" id="likes" data-id="@item.Id">
                    <i id="unlike" style="color: #2196f3;" class="fa-regular fa-heart"></i>
                    <i id="like" style="color: #2196f3;" class="fa-solid fa-heart"></i>
                </span>

            </div>
            <div class="resume_footer">
                <div class="resume_item">
                    <div class="image">
                        <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/user-clock.svg" alt="">
                    </div>
                    <div class="resume_item_text">
                        <h4>@item.Mode</h4>
                        <p>İş rejimi</p>
                    </div>
                </div>
                <div class="resume_item">
                    <div class="image">
                        <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/money.svg" alt="">
                    </div>
                    <div class="resume_item_text">
                        <h4>@item.Salary</h4>
                        <p>Minimum əmək haqqı AZN</p>
                    </div>
                </div>
                <div class="resume_item">
                    <div class="image">
                        <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                    </div>
                    <div class="resume_item_text">
                        <h4>@item.Experience il</h4>
                        <p>İş staji</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
}
 <button type="submit" onclick="LoadMore()" class="page-link-load" page="2" >Daha çox göstər</button>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var likeButtons = document.querySelectorAll('.course_like');
        likeButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var resumeId = this.getAttribute("data-id");
                console.log(resumeId);
                console.log("clicked card");
                //var liked = localStorage.getItem("liked_" + resumeId);

                //if (liked === null) {
                //    liked = "false";
                //}

                //if (liked === "true") {
                //    localStorage.setItem("liked_" + resumeId, "false");
                //    this.querySelector("#unlike").style.display = "inline";
                //    this.querySelector("#like").style.display = "none";
                //} else {
                //    localStorage.setItem("liked_" + resumeId, "true");
                //    this.querySelector("#unlike").style.display = "none";
                //    this.querySelector("#like").style.display = "inline";
                //}

                //console.log("Like clicked for resume with ID:", resumeId);

                
                fetch('/Resume/AddWishlist?itemId=' + resumeId + '&itemType=Resume', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }).then(response => {
                    return response.json();
                }).then(data => {
                    console.log(data);
                }).catch(error => {
                    console.error('Error:', error);
                });
                
            });

            //var resumeId = button.getAttribute("data-id");
            //var liked = localStorage.getItem("liked_" + resumeId);
            //if (liked === "true") {
            //    button.querySelector("#unlike").style.display = "none";
            //    button.querySelector("#like").style.display = "inline";
            //}
        });
    });
</script>








